<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Travel and Food Guide in Philippines</title>
        <link rel="stylesheet" href="style.css">
    </head>
    
    body {
        font-family:'Arial', sans-serif;
    }

    #small_top {
        width: 100%;

    }

    h1 {
        width: 60%;
        text-align: center;
        background-color:aliceblue;
    }

    #main_image {
        width: 40%
    }